[project]
	description = Vulkan Samples
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/puretulip
[access "refs/for/refs/*"]
	read = group user/puretulip
	push = group user/puretulip
	label-Code-Review = -2..+2 group user/puretulip
	label-Verified = -1..+1 group user/puretulip
	rebase = group user/puretulip
	removeReviewer = group user/puretulip
	submit = group user/puretulip
[access "refs/heads/*"]
	read = group user/puretulip
	create = group user/puretulip
	push = +force group user/puretulip
	pushMerge = group user/puretulip
[access "refs/tags/*"]
	push = +force group user/puretulip
	pushTag = group user/puretulip
	pushSignedTag = group user/puretulip
